employee-service/src/main/resources/employee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://julianramirej.com/employee_service/soap"
           xmlns:tns="http://julianramirej.com/employee_service/soap"
           elementFormDefault="qualified">

    <xs:element name="EmployeeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nombres" type="xs:string"/>
                <xs:element name="apellidos" type="xs:string"/>
                <xs:element name="tipoDocumento" type="xs:string"/>
                <xs:element name="numeroDocumento" type="xs:string"/>
                <xs:element name="fechaNacimiento" type="xs:date"/>
                <xs:element name="fechaVinculacion" type="xs:date"/>
                <xs:element name="cargo" type="xs:string"/>
                <xs:element name="salario" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="EmployeeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="mensaje" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
